.vscode/

data/

node_modules/

package-lock.json

shopping_backend/.vscode/

shopping_backend/src/app/controllers/InsertController.js

shopping_backend/src/router/insert.route.js

shopping_backend/node_modules/

shopping_backend/package-lock.json

shopping_backend/src/config/cloudinary/
