.navbar{
    height: 64px;
}

.card-course-item {
    margin-top: 16px;
}

#getAllProducts,
#detailProducts{
    display: flex;
    flex-wrap: wrap;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.checkbox-select-all-options{
    width: 170px;
    margin: 0 8px;
}

.logo-img{
    width: 28px;
    height: 28px;
}
